body {
    background-color: black; /* Set background color to black */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    height: 100vh; /* Set body height to the full viewport height */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* Other styles for your website content */
}

.background-image {
    width: 100%; /* Set width to 100% to cover the entire viewport */
    height: 100vh; /* Maintain aspect ratio */
    background-attachment: fixed;
	background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Place the image behind other content */
}

.Menu {
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	background-color: black;
	color: white;
}

.MenuConainer {
	width: 300px;
	margin: auto;
}

.MenuConainer div {
	float: left;
	width: 100px;
	padding: 10px;
}

.MenuConainer label,
.MenuConainer span {
	float: left;
}

.MenuConainer label {
	margin: 5px;
}

.notification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	display: block;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out;
}

